.tile{
	/* layout */
	margin: 10px;
	display: inline-block;
	
	/* dimension */
    height: 30%;
    width: 40%;

	/* theme */
	cursor: pointer;
}

.tile__icon{
	/* layout */
    margin-top: 12vh;
	padding-bottom: 20px;
	
	/* theme */
	font-size: 2em;
}

.tile__text{
	/* theme */
	text-transform: capitalize;
	font-size: 1em;


	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}